name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: "Choose an environment to deploy to"
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.inputs.environment }}

env:
  IMAGE_NAME: persons-api

jobs:
  set-env:
    name: Determine environment
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.var.outputs.environment }}
      release: ${{ steps.var.outputs.release }}
      image-name: ${{ steps.var.outputs.image-name }}

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - id: var
        run: |
          INPUT=${{ github.event.inputs.environment }}
          ENVIRONMENT=${INPUT:-"development"}
          RELEASE=${ENVIRONMENT,,}-`date +%Y-%m-%d`.${{ github.run_number }}
          echo "environment=${ENVIRONMENT,,}" >> $GITHUB_OUTPUT
          echo "release=${RELEASE}" >> $GITHUB_OUTPUT
          echo "image-name=${{ env.IMAGE_NAME }}" >> $GITHUB_OUTPUT

  validate-packages:
    runs-on: windows-latest
    name: Run Package Validation
    permissions:
      contents: read
    needs: [ set-env ]
    steps:
      - name: Validate Packages
        uses: DFE-Digital/rsd-github-actions/.github/actions/validate-packages@5d9289aaafc5d0a591dab9d93a93be27381fc5e5 # v1.1.3
        with:
          environment: ${{ needs.set-env.outputs.environment }}

  build-import-deploy:
    name: Deploy to ${{ needs.set-env.outputs.environment }}
    needs: [ set-env, validate-packages ]
    runs-on: ubuntu-24.04
    environment: ${{ needs.set-env.outputs.environment }}
    permissions:
      packages: write
      id-token: write
      attestations: write
    steps:
      - uses: DFE-Digital/deploy-azure-container-apps-action/.github/actions/build@v5.2.1
        with:
          build-args: CI=true
          image-name: ${{ needs.set-env.outputs.image-name }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: DFE-Digital/deploy-azure-container-apps-action/.github/actions/import@v5.2.1
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure-acr-client-id: ${{ secrets.ACR_CLIENT_ID }}
          azure-acr-name: ${{ secrets.ACR_NAME }}
          image-name: ${{ needs.set-env.outputs.image-name }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID || '' }}
          AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION_ID || '' }}
          AZURE_ACR_CLIENT_ID: ${{ secrets.ACR_CLIENT_ID || '' }}

      - uses: DFE-Digital/deploy-azure-container-apps-action/.github/actions/deploy@v5.2.1
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure-aca-client-id: ${{ secrets.ACA_CLIENT_ID }}
          azure-aca-name: ${{ secrets.ACA_CONTAINERAPP_NAME }}
          azure-aca-resource-group: ${{ secrets.ACA_RESOURCE_GROUP }}
          azure-acr-name: ${{ secrets.ACR_NAME }}
          annotate-release: 'yes'
          image-name: ${{ needs.set-env.outputs.image-name }}
        env:
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID || '' }}
          AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION_ID || '' }}
          AZURE_ACA_CLIENT_ID: ${{ secrets.ACA_CLIENT_ID || '' }}

  create-tag:
    name: Tag and release
    needs: [ set-env, build-import-deploy ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.ref }}

      - name: Create tag
        run: |
          git tag ${{ needs.set-env.outputs.release }}
          git push origin ${{ needs.set-env.outputs.release }}

      - name: Create release
        uses: "actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea" # v7
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          script: |
            try {
              await github.rest.repos.createRelease({
                draft: false,
                generate_release_notes: true,
                name: "${{ needs.set-env.outputs.release }}",
                owner: context.repo.owner,
                prerelease: false,
                repo: context.repo.repo,
                tag_name: "${{ needs.set-env.outputs.release }}",
              });
            } catch (error) {
              core.setFailed(error.message);
            }

      - name: Trigger Build and Push NuGet Package workflow
        uses: "actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea" # v7
        if: needs.set-env.outputs.environment == 'production'
        with:
            github-token: "${{ secrets.GITHUB_TOKEN }}"
            script: |
              const tagName = "${{ needs.set-env.outputs.release }}"
              console.log("Triggering Build and Push NuGet Package workflow with tag:", tagName);
              github.rest.actions.createWorkflowDispatch({
                owner: context.repo.owner,
                repo: context.repo.repo,
                workflow_id: "build-and-push-package.yml",
                ref: "main",
                inputs: {
                  tag_name: tagName
                }
              });
